@font-face {
    font-family: 'Inter 400';
    src:
        url('/assets/fonts/Inter-Regular.ttf') format('ttf'),
        url('/assets/fonts/Inter-Regular.woff') format('woff'),
        url('/assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Inter 700';
    src:
        url('/assets/fonts/Inter-Bold.ttf') format('ttf'),
        url('/assets/fonts/Inter-Bold.woff') format('woff'),
        url('/assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Merriweather 400';
    src:
        url('/assets/fonts/Merriweather-Regular.ttf') format('ttf'),
        url('/assets/fonts/merriweather-regular-webfont.woff') format('woff'),
        url('/assets/fonts/merriweather-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'Merriweather 700';
    src:
        url('/assets/fonts/Merriweather-Bold.ttf') format('ttf'),
        url('/assets/fonts/merriweather-bold-webfont.woff') format('woff'),
        url('/assets/fonts/merriweather-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+0020-2044;
}
